* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: green;
    color: blue;

}

.slideshow-container {
  height: 500px;
  background-color: var(--elm-bg);
  position: relative;
  overflow: hidden;
}

.slide {
  width: 100%;
  height: 100%;

  display: block;
  animation: fade 1s;
}

@keyframes fade {
  0% {
    opacity: 0.35;
  }
  100% {
    opacity: 1;
  }
}

.slide-recipe {
  color: var(--light-txt);
  width: fit-content;
  margin: auto;
  padding: 15px;
  font-size: 48px;
  text-align: center;
  position: absolute;
  bottom: 75px;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
  
}


.dots-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 15px;

  padding: 5px 15px;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.dot {
  width: 25px;
  height: 25px;
  background-color: var(--light-txt);
  border-radius: 50%;

  transition: all 500ms;
}

.dot-active {
  background-color: var(--elm-bg);
}