* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: black;
    color: black;

}

.card img {
  margin: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 20px;
  box-shadow: 0 0 12px rgb(41, 166, 204);;
}

.card {
  border: 2px solid black;
  padding: 10px;
  margin: 20px;
  width: 400px;
  min-height: 40px;
  border-radius: 15px;
  background-color: white;
}

.detail-btn {
  margin-top: 10px;
  font-size: 20px;
  border: rgb(0, 0, 0), 3px, solid;
  width: 405px;
  color: rgb(0, 0, 0);
  border-radius: 5px;
}

.progressbar {
  width: 100%;
  height: 50px;
  border: 2px solid white;
  background-color: red;
}

.progressbox {
  width: 10%;
  height: 100%;
  background-color: green;
  display: grid;
  place-items: center;
}

.slideshow-container {
  height: 500px;
  background-color: greenyellow;
  position: relative;
  overflow: hidden;
}

.slide {
  width: 100%;
  height: 100%;

  display: block;
  animation: fade 1s;
}

@keyframes fade {
  0% {
    opacity: 0.35;
  }
  100% {
    opacity: 1;
  }
}

.slide-car {
  color: blue;
  width: fit-content;
  margin: auto;
  padding: 15px;
  font-size: 48px;
  text-align: center;
  position: absolute;
  bottom: 75px;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
  
}
.hide {
  display: none;
}
button {
  cursor: pointer;
}

.modal-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  z-index: 9999;
  background-image: url('./images/food5.jpg');
  background-size: cover;

}


.modal-overlay {
  height: 100%;
  overflow-y: auto;
  padding: 25px;
  color: var(--elm-txt);
  background-color: rgba(0,0,0,0.5);

  display: grid;
  align-content: start;
  gap: 50px;
}

.step {
  margin-bottom: 15px;
}

.step h4 {
  color: var(--outline);
}

.tab {
  display: none;
}

.tab-active {
  display: block;
}


#tabbar {
  padding: 15px;
  margin: 15px;
  background-color: rgba(0,0,0,0.5);
  height: 300px;

  display: grid;
  grid-auto-rows: auto 1fr;
  gap: 15px;
}

.tab-btn {
  padding: 5px;
  font-size: 16px;
}

.tab-btn.active {
  background-color: lightcoral;
}

.content {
  border: 2px solid white;
  height: 100%;

  display: none;
}

.content.active {
  display: block;
}